* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #defcfd;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: auto;
  font-size: 50px;
}

.grid-container {
  width: 600px;
  height: 600px;
  margin: auto;
  display: grid;
  border: 1px rgb(51, 51, 51) solid;
}

button {
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.grid-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
